// using less to define colours
@black: #000000;
@altBlack: #1a1a1a;
@gold: #CFB991;
@white: #FFFFFF;
@offWhite: rgba(255, 255, 255, 0.85);
@gray: rgba(255, 255, 255, 0.25);
@offBlack: rgba(255,255,255,0.1);

@nearBlack: #161616;

@rainbow: linear-gradient(to right, #FFB6C1, #ADD8E6, #FFFFE0, #98FB98, #FFDAB9);

@blackGradient: linear-gradient(135deg, @black, @altBlack);
@heroCircleGradient: radial-gradient(circle at center, rgba(207,185,145,0.15), transparent 60%);
