// importing the colours file
@import 'colours';
// import hero card
@import 'hero';

// setting the button and header to use black background and gold text
// matches purdue's colours and contrasts well
.btn.button-and-text, .card-header.button-and-text {
    background-color: @black;
    color: @gold;
}

// remove bootstrap's button highlight and add my own
.btn.button-and-text:hover {
    background-color: @black;
    color: @gold;
    filter: brightness(1.2);
}


// inverse of above
.btn.button-and-text-inverse, .card-header.button-and-text-inverse {
    background-color: @gold;
    color: @black;
    font-weight: bolder;
}

// remove bootstrap's button highlight and add my own
.btn.button-and-text-inverse:hover {
    background-color: darken(@gold, 20%);
    color: @black;
}

// make the background dark and the text lighter but not too light
body.body-colours {
    background: @blackGradient;
    color: @offWhite;
}

// adds middle highlight in background
body.body-colours::after {
    content: "";
    position: absolute;
    inset: 0;
    background: @heroCircleGradient;
    z-index: -1;
}

fieldset {
    border-color: @gray !important;
}

fieldset legend {
    color: @offWhite;
}

// make a class to make the nav gold
.bg-gold {
    background-color: @gold;
}

// override the .body-colours making the text @offWhite 
.card {
    color: @black;
}
